<div>
  <div class="fluid-container md-form m-5 h-50 w-50 align-self-center">
      <h1><b>"I'm Feeling Lucky" - Top 10</b></h1>
      <hr>
      <h2><b>Stocks</b></h2>
      <!-- TODO: backend functionality to populate table for top 10 list. -->
      <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Last</th>
              <th scope="col">Change</th>
              <th scope="col">Change %</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>NNOX</td>
              <td>NANO-X IMAGING LTD</td>
              <td>$37.44</td>
              <td>13.47</td>
              <td>56.2%</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>HMHC</td>
              <td>HOUGHTON MIFFLIN HARCOURT CO</td>
              <td>$2.49</td>
              <td>0.48</td>
              <td>23.88%</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>SLDB</td>
              <td>SOLID BIOSCIENCES INC.</td>
              <td>$4.18</td>
              <td>0.72</td>
              <td>20.81%</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>AMZN</td>
              <td>AMAZON</td>
              <td>$3125.00</td>
              <td>96.26</td>
              <td>2.99%</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>AAPL</td>
              <td>APPLE, INC</td>
              <td>$561.15</td>
              <td>0.12</td>
              <td>5%</td>
            </tr>
          </tbody>
        </table>

      <h2><b>Crypto</b></h2>
      <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Last</th>
              <th scope="col">Change</th>
              <th scope="col">Change %</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>BTC</td>
              <td>BITCOIN</td>
              <td>$37.44</td>
              <td>13.47</td>
              <td>56.2%</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>LTC</td>
              <td>LITECOIN</td>
              <td>$2.49</td>
              <td>0.48</td>
              <td>23.88%</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>TRX</td>
              <td>TRON</td>
              <td>$4.18</td>
              <td>0.72</td>
              <td>20.81%</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>DOGE</td>
              <td>DOGECOIN</td>
              <td>$3125.00</td>
              <td>96.26</td>
              <td>2.99%</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>BNB</td>
              <td>BINANCE COIN</td>
              <td>$561.15</td>
              <td>0.12</td>
              <td>5%</td>
            </tr>
          </tbody>
        </table>


      <div class="row float-left">
          <!-- TODO: hookup button to function that generates a new top 10 list. -->
          <button class="btn btn-primary">Generate New Top 10</button>
      </div>

  </div>
</div>

