<form #toptenForm="ngForm" (ngSubmit)="getMovers()">
  <div class="fluid-container md-form m-5 h-50 w-50 align-self-center">
      <h1><b>"Top Movers" - Top 10</b></h1>

      <div class="row float-left">
        <button class="btn btn-primary" type="submit">Generate New Top 10</button>
    </div>
    <hr>
      <table class="table table-striped table-hover table-lg">
          <thead>
            <tr>
              <th>symbol</th>
              <th>shortName</th>
              <th>regularMarketPrice</th>
              <th>regularMarketChange</th>
              <th>regularMarketChangePercent</th>
              <th>fiftyTwoWeekRange</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of topten">
              <td>{{stock.symbol}}</td>
              <td>{{stock.shortName}}</td>
              <td>{{stock.regularMarketPrice}}</td>
              <td>{{stock.regularMarketChange}}</td>
              <td>{{stock.regularMarketChangePercent}}</td>
              <td>{{stock.fiftyTwoWeekRange}}</td>
            </tr>
          </tbody>
        </table>



  </div>
</form>

