
#stockTable {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#stockTable td, #stockTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stockTable tr:hover {
  background-color: #ddd;
}

#stockTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
