
<div>
    <div class="fluid-container md-form m-5 h-50 w-50 align-self-center">
        <h1><b>Currency Conversion</b></h1>
        <hr>
        <h3><b>From [USD]</b></h3>
        <!-- TODO: PULLS PREFERRED CURRENCY. POPULATES TABLE BASED ON PREFERRED CURRENCY.  ALTERNATIVELY COULD MAKE A DROP DOWN SELECT. -->
        <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">To Currency</th>
                <th scope="col">To Currency Name</th>
                <th scope="col">Exchange rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>JPY</td>
                <td>JAPANESE YEN</td>
                <td>123</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>GBP</td>
                <td>GREAT BRITISH POUND</td>
                <td>1.2937</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>BTC</td>
                <td>BITCOIN</td>
                <td>10,587.501</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>AUD</td>
                <td>AUSTRALIAN DOLLAR</td>
                <td>0.7165</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>CAD</td>
                <td>CANADIAN DOLLAR</td>
                <td>1.50</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

