<form #loginForm="ngForm">
  <div class="fluid-container md-form w-90 align-self-center">

      <!-- style="border: 1px solid black" -->
      <div class="row" >
          <div class="col">
          </div>


          <div class="col" style="background: white; padding-top: 2%;">
                <h2>Sign In</h2>
                or <button class="btn btn-link" (click)="createAccountClicked()">create an account</button>
                <br/>
                <br/>
                <input required type="email" name="email" placeholder="Email" class="form-control" [(ngModel)]='model.email'/>
                <br/>
                <input required type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]='model.secret'/>
                <br/>
                <input type="checkbox"> Remember Me
                <br/><br/>
                <button
                  class="btn btn-primary form-control"
                  style="background-color: #7043F5; "
                  (click)="signInWithEmail()"
                >Sign In</button>
                <br/><br/>
                <button
                  type="submit"
                  class="btn btn-primary form-control"
                  style="background-color: white; border:#7043F5 1px solid; color: #7043F5; "
                  (click)="signInWithGoogle()"
                >
                <img src="assets/g-fakeonly.png" />Sign in with Google</button>

                <br/><br/>

          </div>

          <div class="col float-left" >
          </div>
      </div>
      <router-outlet></router-outlet>
  </div>
  </form>
